USE [QLMEDIA]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Image] [nvarchar](max) NULL,
	[ModuleAccount] [nvarchar](50) NULL,
	[LevelAccount] [int] NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[CreditCardNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[TaxCode] [nchar](10) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KindOfVideo]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KindOfVideo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeVideo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListMediaLike]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListMediaLike](
	[IdAccount] [int] NOT NULL,
	[IdProfile] [int] NOT NULL,
	[IdMedia] [int] NOT NULL,
 CONSTRAINT [PK_ListMediaLike] PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC,
	[IdProfile] ASC,
	[IdMedia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListMediaView]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListMediaView](
	[IdAccount] [int] NOT NULL,
	[IdProfile] [int] NOT NULL,
	[IdMedia] [int] NOT NULL,
	[Views] [int] NULL,
	[CompleteTime] [nvarchar](50) NULL,
 CONSTRAINT [PK_ListMediaView] PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC,
	[IdProfile] ASC,
	[IdMedia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Describe] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [nvarchar](50) NULL,
	[Directors] [nchar](10) NULL,
	[Source] [nvarchar](max) NULL,
	[PostedDate] [datetime] NULL,
	[TypeMedia] [int] NULL,
	[Actor] [nvarchar](max) NULL,
	[IMDB] [float] NULL,
	[FileFormat] [nvarchar](50) NULL,
	[Likes] [int] NULL,
	[Genre] [int] NULL,
 CONSTRAINT [PK_Media_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyPlayList]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyPlayList](
	[IdAccount] [int] NOT NULL,
	[IdProfile] [int] NOT NULL,
	[IdMedia] [int] NOT NULL,
 CONSTRAINT [PK_MyPlayList] PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC,
	[IdProfile] ASC,
	[IdMedia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentHistory]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHistory](
	[IdAccount] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Money] [float] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PaymentHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[IdAccount] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_Profile_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMedia]    Script Date: 5/14/2021 8:40:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMedia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeMedia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [UserName], [Password], [Image], [ModuleAccount], [LevelAccount], [PhoneNumber], [CreditCardNumber], [Address], [TaxCode]) VALUES (1, N'sdsadfas', N'dasda', N'gsdgsd', N'1', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Account] ([Id], [UserName], [Password], [Image], [ModuleAccount], [LevelAccount], [PhoneNumber], [CreditCardNumber], [Address], [TaxCode]) VALUES (2, N'gdffdmhgbn', N'hdfgfghg', N'dfgdf', N'0', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[KindOfVideo] ON 

INSERT [dbo].[KindOfVideo] ([Id], [Name]) VALUES (1, N'18+')
INSERT [dbo].[KindOfVideo] ([Id], [Name]) VALUES (2, N'Tâm lý')
SET IDENTITY_INSERT [dbo].[KindOfVideo] OFF
GO
INSERT [dbo].[ListMediaView] ([IdAccount], [IdProfile], [IdMedia], [Views], [CompleteTime]) VALUES (1, 1, 2, 3, N'1:34')
INSERT [dbo].[ListMediaView] ([IdAccount], [IdProfile], [IdMedia], [Views], [CompleteTime]) VALUES (2, 3, 3, 45, N'2:45')
GO
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([Describe], [Id], [Time], [Directors], [Source], [PostedDate], [TypeMedia], [Actor], [IMDB], [FileFormat], [Likes], [Genre]) VALUES (N'dsafdsdghfjjhjghfgdfd', 1, N'4:55', NULL, NULL, NULL, 2, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Media] ([Describe], [Id], [Time], [Directors], [Source], [PostedDate], [TypeMedia], [Actor], [IMDB], [FileFormat], [Likes], [Genre]) VALUES (N'tinh yêu bến đỗ', 2, N'10:34', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[Media] ([Describe], [Id], [Time], [Directors], [Source], [PostedDate], [TypeMedia], [Actor], [IMDB], [FileFormat], [Likes], [Genre]) VALUES (N'hai phựơng', 3, N'3:45', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Media] OFF
GO
INSERT [dbo].[MyPlayList] ([IdAccount], [IdProfile], [IdMedia]) VALUES (1, 1, 2)
INSERT [dbo].[MyPlayList] ([IdAccount], [IdProfile], [IdMedia]) VALUES (2, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[PaymentHistory] ON 

INSERT [dbo].[PaymentHistory] ([IdAccount], [Date], [Money], [Id]) VALUES (1, CAST(N'2020-10-10T00:00:00.000' AS DateTime), 324123.22, 1)
INSERT [dbo].[PaymentHistory] ([IdAccount], [Date], [Money], [Id]) VALUES (1, CAST(N'2020-12-12T00:00:00.000' AS DateTime), 45354654, 2)
SET IDENTITY_INSERT [dbo].[PaymentHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Profile] ON 

INSERT [dbo].[Profile] ([IdAccount], [Id], [Name], [Age]) VALUES (1, 1, N'profile', NULL)
INSERT [dbo].[Profile] ([IdAccount], [Id], [Name], [Age]) VALUES (2, 3, N'dssf', 45)
SET IDENTITY_INSERT [dbo].[Profile] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeMedia] ON 

INSERT [dbo].[TypeMedia] ([Id], [Name]) VALUES (1, N'kich tinh')
INSERT [dbo].[TypeMedia] ([Id], [Name]) VALUES (2, N'hành động')
SET IDENTITY_INSERT [dbo].[TypeMedia] OFF
GO
